body {
	background-color: #f2f2f2;
	margin: 0px;
	font-family: "Hind Guntur", sans-serif;
	color: #444;
}
p {
	line-height: 135%;
	margin-top:9px;
	margin-bottom: 25px;
	font-size: 18px;
}
h1, h2, h3, h5, h6 {
	font-family: 'Zilla Slab' ,serif;
}
#content {
	background-color: #d15353;
	max-width: 1120px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 30px;
	border-radius: 23px;
	box-shadow: 0px 5px 15px #888888;
	padding-top: 25px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	flex-wrap: wrap;
	transition: filter 1s ease-in-out;
}
@media only screen and (min-width: 860px) and (max-width: 1205px){
  #content {
	padding-left: 2vw;
	padding-right: 2vw;
  }
}
@media only screen and (min-width: 401px) and (max-width: 859px){
  #content {
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	padding-top: 7px;
  }
}
@media only screen and (max-width: 400px){
  #content {
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0px;
	border-radius: 15px;
  }
}
.icon {
	width: 32px;
	height: 32px;
	display: inline-block;
	background-size: 65%;
	background-repeat: no-repeat;
	background-position: center;
	transform: translate(0px, 12px);
	margin-right: 14px;
	padding: 6px;
	border: 1.3px solid #444;
	border-radius: 50%;
}
#educationIcon {
	background-image: url('../images/education.svg');
}
#experienceIcon {
	background-image: url('../images/experience.svg');
}
#skillsIcon {
	background-image: url('../images/skills.svg');
}
#awardsIcon {
	background-image: url('../images/awards.svg');
}
h5 {
	margin: 0px;
	margin-bottom: 35px;
	font-size: 28px;
}
.box {
	background-color: #FFF;
	padding: 18px 30px 25px;
	color: #444;
	font-size: 18px;
	position: relative;
	overflow: hidden;
}
@media only screen and (max-width: 859px){
  #experience {
	margin-bottom: 0px;
  }
}
.box h4 {
	margin-bottom: 10px;
	line-height: 1.4;
}
time {
	color: #777;
	font-size: 16px;
}
.column {
	width: 50%;
	min-width: 360px;
}
@media only screen and (max-width: 859px){
  .column {
	width: 100%;
  }
}
@media only screen and (max-width: 400px){
  .column {
	min-width: 0px;
  }
}
/**********************************Info Section***********************************/
#info h1 {
	font-size: 70px;
	margin: 0px;
	font-weight: 400;
}
#info p {
	font-size: 24px;
	margin-top: 5px;
	margin-bottom: 14px;
	font-weight: 100;
	line-height: 1.2;
}
#info h2 {
	margin-top: 0px;
	margin-bottom: 14px;
	font-size: 26px;
	font-weight: 500;
}
#info span {
	padding-right: 14px;
	padding-left: 14px;
	font-weight: 100;
}
#info hr {
	background-color: #FFF;
	margin-bottom: 14px;
	height: 1px;
	border: none;
}
#info a {
	color: white;
	text-decoration: none;
	font-size: 20px;
	line-height: 1;
}
#info .social-link {
	font-size: 16px;
	background-color: #8e3030;
	padding: 7px 25px 4px;
	margin: 7px 15px 0px 0px;
	border-radius: 5px;
	color: #FFF;
	text-decoration: none;
	display: inline-block;
	display: inline-block;
	user-select: none;
	line-height: inherit;
}
.social-link-last {
	margin-right: 0px !important;
}
.facebook::before {
	content: "Facebook";
}
.linkedin::before {
	content: "LinkedIn";
}
@media only screen and (max-width: 480px){
	#info h2 {
		font-size: 20px;
	}
	#info p {
		font-size: 18px;
		margin-bottom: 8px;
	}
	#info a {
		font-size: 18px;
	}
	.facebook::before {
		font-family: "Font Awesome 5 Brands";
		font-weight: 400;
		content: "\f082";
	}
	.linkedin::before {
		font-family: "Font Awesome 5 Brands";
		font-weight: 400;
		content: "\f08c";
	}
	#info .social-link {
		font-size: 18px;
		padding: 6px 20px 3px;
	}
	#info hr {
		margin-bottom: 9px;
	}
}
@media only screen and (min-width: 860px) and (max-width: 950px){
	.facebook::before {
		font-family: "Font Awesome 5 Brands";
		font-weight: 400;
		content: "\f082";
	}
	.linkedin::before {
		font-family: "Font Awesome 5 Brands";
		font-weight: 400;
		content: "\f08c";
	}
}
@media only screen and (max-width: 859px){
	#info h1 {
		font-size: 56px;
	}
	#info .social-link {
		padding: 6px 20px 3px;
		margin: 7px 9px 0px 0px;
	}
}
/**********************************BOXES***********************************/
.collapse-button {
	position: absolute;
    right: 18px;
	top: 18px;
	color: #999;
	font-size: 24px;
	transition: color 0.08s ease-in;
}
.collapse-button:hover {
	color: #777;
}
section {
	width: auto;
	display: block;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 15px;
	margin-bottom: 10px;
	border-radius: 15px;
	padding: 20px;
	padding-top: 0px;
	color: #FFF;
}
.company {
	color: #f2511b;
	font-weight: bold;
}
#awards-h5:after {
	content: 'Awards and Prizes';
}
@media only screen and (max-width: 500px){
  #awards-h5:after {
	content: 'Awards';
	}
}
/**********************************INTRO***********************************/
#intro {
	padding: 20px 0px;
	border-radius: 5px;
	overflow: hidden;
	transition: height 0.2s ease-out;
	max-width: 550px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #444;
	transition: filter 1s ease-in-out, height 0.5s ease-in-out;
}
#take-the-tour-button {
	color: #FFF;
	background-image: linear-gradient(#1fdc10, #10c000);
	padding: 9px 17px 4px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 20px;
	user-select: none;
}
#take-the-tour-button:hover {
	background-color: #1cc100;
	cursor: pointer;
}
#intro p {
	font-size: 20px;
}
/**************************************        ******************************************/
/**************************************        ******************************************/
/**************************************        ******************************************/
/**************************************THE TOUR******************************************/
/**************************************        ******************************************/
/**************************************        ******************************************/
/**************************************        ******************************************/
#overlay {
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.75);
	z-index: 500;
	top: 0px;
	transition: visibility 1s, opacity 1s ease-in-out;
	opacity: 0;
}
#close {
	margin: 35px;
	margin-top: 15px;
	text-align: right;
}
#closeButton {
	color: #888;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	transition: color 0.2s ease-in-out;
	user-select: none;
}
#closeButton:hover {
	color: #555;
}
#arrowdiv {
	position: fixed;
	left: 2vw;
	width: 96vw;
	height: 15vw;
	max-height: 180px;
	background-image: url('../images/doublearrow.svg');
	background-size: 0% 100%;
	background-repeat: no-repeat;
	background-position: center;
	transition: background-size 0.5s ease-in-out;
}
@media only screen and (min-width:1234px){
	#arrowdiv {
		position: static;
		width: 100%;
	}
}
@media only screen and (max-width:1233px){
	#tour-stop-3 p {
		margin-top: 24vw;
	}
}
.show {
	display: inherit;
}
.hidden {
	display: none;
}
.tour-stop {
	max-width: 1170px;
	width: 85%;
	height: 20vh;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 14vh;
	opacity: 0;
	transition: opacity 0.3s linear;
}
.tour-stop h1 {
	margin-bottom: 30px;
	line-height: 1.4;
	font-size: 40px;
}
#tour-stop-1 img {
	width: 200px;
}
.tour-stop p {
	font-size: 22px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.tour-stop h1 .subtitle {
	font-size: 24px;
	display: inline-block;
	transform: translate(0px, -10px);
	}
@media only screen and (max-width: 500px){
	#tour-stop-1 img {
		width: 140px;
	}
	.tour-stop {
		margin-top: 3vh;
		width: 90%;
	}
	.tour-stop h1 {
		font-size: 24px;
		margin-bottom: 20px;
	}
	.tour-stop h1 .subtitle {
		font-size: 18px;
		transform: translate(0px, 0px);
	}	
	.tour-stop p {
		font-size: 18px;
	}
	#closeButton {
		font-size: 16px;
	}
}
/**********************************CODE***********************************/
.code {
	text-align: left;
	background-color: #222;
	font-family: monospace;
	color: white;
	padding: 20px;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	line-height: 1.5;
	margin-bottom: 40px;
	overflow: hidden;
}
.code span {
	transition: color 0.2s ease-in;
}
.code-line {
	display: inline-block;
	opacity: 0;
	transition: opacity 0.35s linear;
}
@media only screen and (max-width: 600px){
	.code {
		font-size: 14px;
		padding: 15px;
	}
}
/**********************************TOUR BUTTONS***********************************/

#back-next {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 10vh;
	user-select: none;
}
#back-next span {
	border-radius: 3px;
	display: inline-block;
	padding: 5px 15px 2px;
}
#back, #next {
	cursor: pointer;
	width: 60px;
	font-size: 20px;
	background-color: #1282e5;
	color: white;
}
#back:hover, #next:hover {
	background-color: #0e71c9;
}
#back:active, #next:active {
	background-color: #0d5ea5;
}
#count {
	width: 60px;
	margin: 0px 13px;
	font-size: 24px;
}
.grey {
	color: #ddd;
	cursor: auto !important;
	background-color: #80a7c9 !important;
}
@media only screen and (max-width: 500px){
	#back-next {
		bottom: 5vh;
	}
	#count {
		margin: 0px 8px;
		font-size: 22px;
	}
	#back, #next {
		cursor: pointer;
		width: 56px;
		font-size: 18px;
	}
}
/**************************************        ******************************************/
/**************************************        ******************************************/
/**************************************        ******************************************/
/**************************************DOWNLOAD******************************************/
/**************************************        ******************************************/
/**************************************        ******************************************/
/**************************************        ******************************************/
#download {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
	text-align: center;
	transition: filter 1s ease-in-out,
}
#download a {
	color: #d15353;
}
