body {
	background-color: #f2f2f2;
	margin: 0px;
	font-family: "Hind Guntur", sans-serif;
	color: #444;
}
p {
	line-height: 135%;
	margin-top:9px;
	margin-bottom: 25px;
	font-size: 18px;
}
h1, h2, h3, h5, h6 {
	font-family: 'Zilla Slab', serif;
	font-weight: bold;
}
.btn {
	user-select: none;
	cursor: pointer;
	color: #FFF;
	text-decoration: none;
}
/**************************************     ******************************************/
/**************************************     ******************************************/
/**************************************     ******************************************/
/**************************************INTRO******************************************/
/**************************************     ******************************************/
/**************************************     ******************************************/
/**************************************     ******************************************/
#intro {
	padding: 20px 0px;
	max-width: 550px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #444;
	transition: filter 1s ease-in-out;
}
#take-the-tour-button {
	background-image: linear-gradient(#1fdc10, #10c000);
	padding: 9px 17px 4px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 20px;
}
#take-the-tour-button:hover {
	background-image: linear-gradient(#1dd510, #0fb300);
}
#intro p {
	font-size: 20px;
}
/**************************************       ******************************************/
/**************************************       ******************************************/
/**************************************       ******************************************/
/**************************************CONTENT******************************************/
/**************************************       ******************************************/
/**************************************       ******************************************/
/**************************************       ******************************************/
#content {
	background-color: #d15353;
	max-width: 1120px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 30px;
	border-radius: 23px;
	box-shadow: 0px 5px 15px #888888;
	padding-top: 25px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	flex-wrap: wrap;
	transition: filter 1s ease-in-out;
}
@media only screen and (min-width: 860px) and (max-width: 1205px){
  #content {
	padding-left: 2vw;
	padding-right: 2vw;
  }
}
@media only screen and (min-width: 401px) and (max-width: 859px){
  #content {
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	padding-top: 7px;
	width: 95%;
  }
}
@media only screen and (max-width: 400px){
  #content {
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0px;
	border-radius: 15px;
	width: 95%;
  }
}
section {
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 15px;
	margin-bottom: 10px;
	border-radius: 15px;
	padding: 20px;
	padding-top: 0px;
}
.column {
	width: 50%;
}
@media only screen and (max-width: 859px){
  .column {
	width: 100%;
  }
}
@media only screen and (max-width: 400px){
  .column {
	min-width: 0px;
  }
}
/**********************************Info Section***********************************/
#info, #info a {
	color: #FFF;
}
#info h1 {
	font-size: 70px;
	margin: 0px;
	font-weight: 400;
}
#info h2 {
	margin-top: 0px;
	margin-bottom: 14px;
	font-size: 26px;
	font-weight: semi-bold;
}
#info span {
	padding-right: 14px;
	padding-left: 14px;
	font-weight: 100;
}
#info p {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 14px;
	font-weight: 100;
	line-height: 1.2;
}
#info hr {
	background-color: #FFF;
	margin-bottom: 14px;
	height: 1px;
	border: none;
}
#info a {
	text-decoration: none;
	font-size: 20px;
	line-height: 1;
}
#info .social-link {
	font-size: 16px;
	background-color: #8e3030;
	padding: 7px 25px 4px;
	margin: 7px 15px 0px 0px;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	line-height: inherit;
}
#info .social-link:hover {
	background-color: #772828;
}
.social-link-last {
	margin-right: 0px !important;
}
.facebook::before {
	content: "Facebook";
}
.linkedin::before {
	content: "LinkedIn";
}
@media only screen and (max-width: 480px){
	#info h2 {
		font-size: 20px;
	}
	#info p {
		font-size: 18px;
		margin-bottom: 8px;
	}
	#info a {
		font-size: 18px;
	}
	.facebook::before {
		font-family: "Font Awesome 5 Brands";
		font-weight: 400;
		content: "\f082";
	}
	.linkedin::before {
		font-family: "Font Awesome 5 Brands";
		font-weight: 400;
		content: "\f08c";
	}
	#info .social-link {
		font-size: 18px;
		padding: 6px 20px 3px;
	}
	#info hr {
		margin-bottom: 9px;
	}
}
@media only screen and (min-width: 860px) and (max-width: 950px){
	.facebook::before {
		font-family: "Font Awesome 5 Brands";
		font-weight: 400;
		content: "\f082";
	}
	.linkedin::before {
		font-family: "Font Awesome 5 Brands";
		font-weight: 400;
		content: "\f08c";
	}
}
@media only screen and (max-width: 859px){
	#info h1 {
		font-size: 56px;
	}
	#info .social-link {
		padding: 6px 20px 3px;
		margin: 7px 9px 0px 0px;
	}
}
/**********************************BOXES***********************************/
.collapse-button {
	position: absolute;
    right: 18px;
	top: 18px;
	color: #999;
	font-size: 24px;
	transition: color 0.08s ease-in;
}
.collapse-button:hover {
	color: #777;
}
.company {
	color: #f2511b;
	font-weight: bold;
}
#awards-h3:after {
	content: 'Awards and Prizes';
}
@media only screen and (max-width: 500px){
  #awards-h3:after {
	content: 'Awards';
	}
}
.icon {
	width: 32px;
	height: 32px;
	display: inline-block;
	background: center / 65% no-repeat;
	transform: translate(0px, 12px);
	margin-right: 14px;
	padding: 6px;
	border: 1.3px solid #444;
	border-radius: 50%;
}
#educationIcon {
	background-image: url('../images/education.svg');
}
#experienceIcon {
	background-image: url('../images/experience.svg');
}
#skillsIcon {
	background-image: url('../images/skills.svg');
}
#awardsIcon {
	background-image: url('../images/awards.svg');
}
.box h3 {
	margin: 0px 0px 35px 0px;
	font-size: 28px;
}
.box {
	background-color: #FFF;
	padding: 18px 30px 25px;
	color: #444;
	position: relative;
	overflow: hidden;
}
@media only screen and (max-width: 859px){
  #experience {
	margin-bottom: 0px;
  }
}
.box h4 {
	font-size: 18px;
	margin-bottom: 10px;
	line-height: 1.4;
}
time {
	color: #777;
	font-size: 16px;
}
/**************************************        ******************************************/
/**************************************        ******************************************/
/**************************************        ******************************************/
/**************************************THE TOUR******************************************/
/**************************************        ******************************************/
/**************************************        ******************************************/
/**************************************        ******************************************/
#overlay {
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 150%;
	background-color: rgba(255,255,255,0.75);
	z-index: 500;
	top: 0px;
	transition: visibility 1s, opacity 1s ease-in-out;
	opacity: 0;
}
#close {
	margin: 15px 35px 0px;
	text-align: right;
}
#closeButton {
	color: #888;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	transition: color 0.2s ease-in-out;
	user-select: none;
}
#closeButton:hover {
	color: #555;
}
#arrowdiv {
	position: fixed;
	left: 2vw;
	width: 96vw;
	height: 15vw;
	max-height: 150px;
	background-image: url('../images/doublearrow.png');
	background-size: 0% 100%;
	background-repeat: no-repeat;
	background-position: center;
	transition: background-size 0.5s ease-in-out;
}
@media only screen and (min-width:1234px){
	#arrowdiv {
		position: static;
		width: 100%;
	}
}
@media only screen and (max-width:1233px){
	#tour-stop-3 p {
		margin-top: 24vw;
	}
}
.show {
	display: inherit;
}
.hidden {
	display: none;
}
.tour-stop {
	max-width: 1170px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 8vh;
	opacity: 0;
	transition: opacity 0.3s linear;
}
.tour-stop h1 {
	margin-bottom: 30px;
	line-height: 1.4;
	font-size: 40px;
}
#tour-stop-1 img {
	width: 200px;
}
.tour-stop p {
	font-size: 22px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.tour-stop h1 .subtitle {
	font-size: 24px;
	display: inline-block;
	transform: translate(0px, -10px);
	}
@media only screen and (max-width: 1024px), screen and (max-height: 800px){
	#tour-stop-1 img {
		width: 140px;
	}
	.tour-stop {
		margin-top: 3vh;
		width: 90%;
	}
	.tour-stop h1 {
		font-size: 24px;
		margin-bottom: 20px;
	}
	.tour-stop h1 .subtitle {
		font-size: 18px;
		transform: translate(0px, 0px);
	}	
	.tour-stop p {
		font-size: 18px;
	}
	#closeButton {
		font-size: 16px;
	}
}
/**********************************CODE***********************************/
.code {
	text-align: left;
	background-color: #222;
	font-family: monospace;
	color: white;
	padding: 20px;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	line-height: 1.5;
	margin-bottom: 40px;
	overflow: hidden;
}
.code span {
	transition: color 0.2s ease-in;
}
.code-line {
	display: inline-block;
	opacity: 0;
	transition: opacity 0.35s linear;
}
@media only screen and (max-width: 700px), screen and (max-height: 700px){
	.code {
		font-size: 14px;
		padding: 11px;
		margin-bottom: 20px;
	}
}
/**********************************THOUGHTFUL DESIGN ANIMATION***********************************/
#responsive-animation {
	width: 500px;
	height: 290px;
	margin-right: auto;
	margin-left: auto;
	background-color: #f2f2f2;
	margin-bottom: 3vh;
	overflow: hidden;
}
#responsive-animation h1 {
	font-size: 20px;
	margin: 15px;
	color: #777;
}
#responsive-animation h2 {
	font-size: 28px;
	margin: 7px 0px;
	font-weight: normal;
}
#responsive-animation h3 {
	font-size: 22px;
}
#responsive-animation p {
	font-size: 16px;
	margin: 3% 0%;
}
#responsive-animation-inner {
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	height: 100%;
	background-color: #d15353;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	box-shadow: 0px 5px 9px #777;
	animation: inner-grow 9s infinite alternate;
}
.responsive-animation-section {
	border-radius: 6px;
	width: 44%;
	height: 190px;
	margin: 3%;
	text-align: left;
	animation: section-grow 9s infinite alternate;
}
#responsive-animation-info {
	color: #FFF;
	height: auto;
}
#responsive-animation-info hr {
	background-color: #FFF;
	margin-bottom: 5px;
	height: 1px;
	border: none;
}
#responsive-animation a {
	color: #FFF;
	font-size: 14px;
	background-color: #8e3030;
	width: 55px;
	padding: 7px 14px 4px;
	margin: 5px 7px 5px 0px;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	line-height: inherit;
	text-align: center;
	animation: button-animation 9s infinite alternate;
}
#responsive-animation a:hover {
	background-color: #772828;
}
#responsive-animation-box {
	background-color: #FFF;
	color: #aaa;
}
#responsive-animation-box p, #responsive-animation-box h3 {
	margin: 10px;
}
@keyframes section-grow {
	0% {
		width: 44%;
	}
	18% {
		width: 44%;
	}
	23% {
		width: 94%;
	}
	100% {
		width: 94%;
	}
}
@keyframes inner-grow {
	0% {
		width: 90%;
	}
	5% {
		width: 90%;
	}
	45% {
		width: 65%;
	}
	55% {
		width: 65%;
	}
	95% {
		width: 40%;
	}
	100% {
		width: 40%;
	}
}
@keyframes button-animation {
	0% {
		width: 59px;
	}
	55% {
		width: 59px;
	}
	95% {
		width: 33px;
	}
	100% {
		width: 33px;
	}
}

@media only screen and (max-width: 590px), screen and (max-height: 660px){
	#responsive-animation{ 
		display: none;
	}
}
/**********************************THOUGHTFUL DESIGN VIDEO***********************************/

video {
	display: none;
	width: 100%;
	max-width: 400px; 
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
@media only screen and (max-width: 590px), screen and (max-height: 660px){
	video {
		display: inherit;
	}
}
/**********************************DELIGHTFUL ANIMATION***********************************/
#delightful-animation {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 800px;
	height: 170px;
	margin-bottom: 20px;
	perspective: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#cube {
	transform-style: preserve-3d;
	transform: translateZ(-100px);
	transition: transform 1s;
	height: 170px;
	width: 170px;
}
.face {
	position: absolute;
	width: 100%;
	height: 100%;
	color: white;
	cursor: pointer;
	font-family: 'Zilla Slab', serif;
	font-weight: bold;
	font-size: 26px;
	line-height: 170px;
	opacity: 0.9;
}
.face--front  { transform: rotateY(  0deg) translateZ(85px); background-color: red;}
.face--right  { transform: rotateY( 90deg) translateZ(85px); background-color: blue;}
.face--back   { transform: rotateY(180deg) translateZ(85px); background-color: green;}
.face--left   { transform: rotateY(-90deg) translateZ(85px); background-color: #ff00a1;}
.face--top    { transform: rotateX( 90deg) translateZ(85px); background-color: orange;}
.face--bottom { transform: rotateX(-90deg) translateZ(85px); background-color: #00b6ff;}
/**********************************THANKS FOR COMING***********************************/
.btn-exit {
	font-size: 20px;
	display: inline-block;
	background-color: #d15353;
	border-radius: 4px;
	margin: 10px;
	line-height: 24px;
	padding: 15px 25px 11px 25px;
	width: 80px;
	font-weight: bold;
}
.btn-exit:hover {
	background-color: #8e3030;
}
.end-tour-button {
	font-size: 20px;
	display: inline-block;
	margin: 10px;
	line-height: 24px;
	padding: 15px 25px 11px 25px;
	width: 75px;
	color: #777;
	font-weight: bold;
}
.end-tour-button:hover {
	color: #444;
}
@media only screen and (max-width: 700px), screen and (max-height: 700px){
	.btn-exit, .end-tour-button {
		font-size: 18px;
		padding: 12px 22px 8px 22px;
		margin: 7px;
		width: 70px;
	}
}
/**********************************TOUR BUTTONS***********************************/

#back-next {
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 8vh;
	user-select: none;
}
#back-next span {
	border-radius: 3px;
	display: inline-block;
	padding: 5px 15px 2px;
	width: 60px;
}
#back, #next {
	cursor: pointer;
	font-size: 20px;
	background-color: #1282e5;
	color: #FFF;
}
#back:hover, #next:hover {
	background-color: #0e71c9;
}
#back:active, #next:active {
	background-color: #0d5ea5;
}
#count {
	margin: 0px 13px;
	font-size: 24px;
}
.grey {
	color: #ddd !important;
	cursor: auto !important;
	background-color: #80a7c9 !important;
}
@media only screen and (max-width: 1024px), screen and (max-height: 800px){
	#back-next {
		bottom: 5vh;
	}
	#count {
		margin: 0px 8px;
		font-size: 22px;
	}
	#back, #next {
		width: 56px !important;
		font-size: 18px;
	}
}
/**************************************        ******************************************/
/**************************************        ******************************************/
/**************************************        ******************************************/
/**************************************DOWNLOAD******************************************/
/**************************************        ******************************************/
/**************************************        ******************************************/
/**************************************        ******************************************/
#download {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
	text-align: center;
	transition: filter 1s ease-in-out,
}
#download a {
	color: #d15353;
	text-decoration: none;
}
#download a:hover {
	color: #b53030;
}
